{% extends 'clubs/base.html' %}

{% block content %}
<div class="container__inner">
    <p class="description">CleanWorkPlace - это веб-приложение, предназначенное для оповещения администрации о местах,
        которые
        не были убраны в течение 10 минут. Сайт помогает вам находить проблемные места, требующих уборки.</p>
    <h4 class="manual">Инструкция</h4>
    <ol class="manual-list">
        <li class="manual-item">Вход в систему:<br>
            - Администратор должен войти в систему, используя свои учетные данные.
        </li>
        <li class="manual-item">Добавление новых клубов и камер:<br>
            - В административной панели сайта доступна функция добавления новых клубов и соответствующих им камер.<br>
            - Администратор должен добавить новые клубы и указать информацию о камерах, установленных в этих клубах.
        </li>
        <li class="manual-item">Выбор адреса клуба:<br>
            - На левой панели сайта, в меню, администратор должен выбрать адрес клуба, для которого он хочет отслеживать
            неубранные места.<br>
            - При выборе адреса клуба система будет начинать отслеживание и анализ изображений с камер, связанных с этим
            клубом.
        </li>
        <li class="manual-item">Оповещения о неубранных местах:<br>
            - Если система обнаруживает неубранное место на изображении с камеры, связанной с выбранным клубом, она
            автоматически отправляет оповещение на сайт.<br>
            - Оповещение содержит фотографию неубранного места и информацию о камере, с которой был сделан снимок.
        </li>
    </ol>
</div>
{% endblock %}